<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/faviconCamera.png" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/614ec76b61.js" crossorigin="anonymous"></script>
    <title>Carolina Avdeichuk</title>
  </head>
  <body>
    <div class="grid-container">
    <header>
      <nav>
        <ul class="menu_horizontal">
          <li><a href="../index.html">Home</a></li>
          <li><a href="./gallery.html">Gallery</a>
            <ul class="menu_vertical">
              <li><a href="./landscapes.html">Landscapes</a></li>
              <li><a href="./petsPeople.html">Pets & People</a></li>
              <li><a href="./details.html">Details</a></li>
            </ul>
          </li>
          <li><a href="./about.html">About us</a></li>
          <li><a href="./contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
        <div class="galeryContainer">
          <div class="itemGalery" id="itemGalery-1">
              <div class="tarjetaGalery elementoA"></div>
              <div class="flechasGalery">
                  <a href="#itemGalery-3"><i class="fa-solid fa-arrow-left"></i></a>
                  <a href="./landscapes.html"><i class="fa-solid fa-camera"></i></a>
                  <a href="#itemGalery-2"><i class="fa-solid fa-arrow-right"></i></a>
              </div>
          </div>
          <div class="itemGalery" id="itemGalery-2">
              <div class="tarjetaGalery elementoB"></div>
              <div class="flechasGalery">
                  <a href="#itemGalery-1"><i class="fa-solid fa-arrow-left"></i></a>
                  <a href="./petsPeople.html"><i class="fa-solid fa-camera"></i></a>
                  <a href="#itemGalery-3"><i class="fa-solid fa-arrow-right"></i></a>
              </div>
          </div>
          <div class="itemGalery" id="itemGalery-3">
              <div class="tarjetaGalery elementoC"><a href="details.html"><i class="fa-regular fa-plus"></i></a></div>
              <div class="flechasGalery">
                  <a href="#itemGalery-2"><i class="fa-solid fa-arrow-left"></i></a>
                  <a href="details.html"><i class="fa-solid fa-camera"></i></a>
                  <a href="#itemGalery-1"><i class="fa-solid fa-arrow-right"></i></a>
              </div>
          </div>
      </div>
    </main>
    <footer class="footer-gallery">
      <div class="footer__container">
        <li><a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li>
        <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="https://accounts.google.com/ServiceLogin/signinchooser?hl=es-419&passive=true&continue=https%3A%2F%2Fwww.google.com%2Fsearch%3Fq%3Dgmail%26oq%3Dgmail%26aqs%3Dchrome..69i57j0i433i512l4j0i512j69i61l2.1672j0j4%26sourceid%3Dchrome%26ie%3DUTF-8&ec=GAZAAQ&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank"><i class="fa-regular fa-envelope"></i></a></li>
      </div>
      <div class="bottom_footer"><h5>&copy; Carolina Avdeichuk 2022</h5></div>
    </footer>
  </div>
  </body>
</html>